[user]
	name = Andres Rodriguez
	email = andresmichelrodriguez@gmail.com
[core]
	editor = vim
[init]
	defaultBranch = main
[alias]
	root = rev-parse --show-toplevel
	edit = commit -a --amend --no-edit
	hard = reset --hard
	unstage = restore --staged
	ignore = !sh -c \"cp ~/.gitignore_global .gitignore\"
	sparse = clone --filter=blob:none --sparse
	check = sparse-checkout add
	sub = submodule update --init
[credential]
	helper = store
[help]
	autocorrect = 20
[merge]
	tool = vimdiff
